.Paper{
    width: 100rem;
    height: 60rem;
    margin: auto;
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttonCont{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card1{
    max-width: 300px;
    height: 80%;
    transform: translateX(-200rem);
    animation: slideIn .3s forwards;
    animation-delay: 0.6s;
}
.card2{
    max-width: 300px;
    height: 80%;
    transform: translateX(-200rem);
    animation: slideIn .3s forwards;
    animation-delay: 0.3s;
}
.card3{
    max-width: 300px;
    height: 80%;
    transform: translateX(-200rem);
    animation: slideIn .3s forwards;
    animation-delay: 0s;
}

.cardaction{
    height: 91%;
    overflow: hidden;
}

.title{
    font-size: 300%;
    font-weight: 700;
}

.text{
    font-size: 115%;
    font-weight: 600;
    margin-top: 15px;
}

@keyframes slideIn{
    from{

    }
    to{
        transform: translateX(0);
    }
}