.div{
    width: 35%;
    height: 80vh;
    margin: auto;
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-200rem);
    animation: slideIn .4s forwards;
}

.frame{
    width: 100%;
    height: 100%;
}

@keyframes slideIn{
    from{

    }
    to{
        transform: translateX(0);
    }
}

.contact{
    max-width: 384px;
    height: auto;
    margin: auto;
    margin-top: 10%;
    text-align: center;
    align-items: center;
    transform: translateX(200rem);
    animation: slideIn .3s forwards;
}

.pic{
    width: 20%;
    height: 20%;
}

.aclass{
    padding: 5%;
}

@media only screen and (max-width: 480px) {
    .div{
        width: 80vw;
        height: 80vh;
        margin-top: 20%;
        margin: auto;
    }
    .contact{
        max-width: 284px;
        height: auto;
        margin: auto;
        margin-top: 30%;
        text-align: center;
        align-items: center;
        transform: translateX(200rem);
        animation: slideIn .3s forwards;
    }
}
